# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.env
.venv/
venv/
.mypy_cache/
.ruff_cache/

# Node / TypeScript
node_modules/
ts/dist/
*.tsbuildinfo
npm-debug.log*
pnpm-debug.log*
.pnpm-store/
